.topic {
  text-align: center;
}

.profilecard {
  display: flex;
  border-radius: 5px;
  background-color: #e7f1fc;
  width: 500px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.prodetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  flex-grow: 1;
}

.details {
  font-size: 14px;
  margin: 5px 0;
  padding: 3px;
  border-bottom: 1px solid black;
}

.fontsize {
  margin-left: 20px;
}